@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

@gradient: linear-gradient(180deg, rgba(243,129,129,0.9) 0%, rgba(252,227,138,0.9) 100%);
@light_color: #fff;
@dark_color: #333;
@red_color: #f38181;
@yellow_color: #fce38a;
@cyan_color: #95e1d3;

body,
html {
	margin: 0;
	padding: 0;
}

.container {
	width: 1920px;
	margin: 0 auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
div,
span {
	font-family: 'Montserrat', sans-serif;
}

.curly_text {
	font-family: 'Kaushan Script', cursive;
}

.banner {
	height: 1000px;
	background: url(img/banner.jpg) center center no-repeat;
	.gradient {
		position: relative;
		padding: 25px 360px;
		height: 950px;
		background: @gradient;
		color: @light_color;
		.logo {
			font-size: 30px;
			font-weight: bold;
			float: left;
		}
		li.menu {
			list-style-type: none;
			display: inline;
		}
		div.menu {
			float: right;
		}
		.menu a,
		a.more {
			color: @light_color;
			font-size: 14px;
			text-transform: uppercase;
			margin: 0 25px 5px 25px;
			padding-bottom: 10px;
		}
		.menu a:hover {
			color: @yellow_color;
			border-bottom: 3px solid @yellow_color;
		}
		a.cart>img {
			margin-bottom: -5px;
		}
		a.cart:hover {
			border: none;
		}
		.menu input,
		.menu input:hover {
			background-color: transparent;
			border: none;
			cursor: pointer;
			background: url(img/icons/search.png) center center no-repeat;
			width: 25px;
			height: 25px;
		    margin-bottom: -7px;
		    margin-left: 12px;
		}
		.title {
			text-align: center;
			clear: both;
			margin-top: 180px;
		}
		.title h2 {
			text-transform: capitalize;
			font-size: 72px;
			font-weight: 500;
			margin-bottom: 0;
		}
		.title h1 {
			text-transform: uppercase;
			font-size: 150px;
			margin-top: 30px;
			margin-bottom: 60px;
			line-height: 140px;
		}
		.line {
			width: 60px;
			height: 3px;
			background-color: @light_color;
			margin: 0 auto 60px;
		}
		a.more {
			padding: 10px 30px;
			border: 3px solid @light_color;
			font-weight: bold;
		}
		.nav {
			height: 70px;
			position: absolute;
			top: 930px;
		}
	}
}

.nav_block {
	width: 280px;
	height: 70px;
	float: left;
	margin-right: 30px;
	cursor: pointer;
	.nav_line {
		height: 3px;
		width: 210px;
		border-left: 70px solid rgba(255, 255, 255, 0.5);
		background-color: @light_color;
		opacity: 0.5;
	}
	p.nav_text {
		text-transform: uppercase;
		font-size: 16px;
		opacity: 0.7;
	}
}

.nav_text>span {
	font-size: 24px;
	font-weight: bold;
}

.nav_block:hover .nav_line{
	border-left: 70px solid @red_color;
	opacity: 1.0;
}

.nav_block:hover .nav_text {
	opacity: 1.0;
}

.about_gallery,
.team_gallery {
	margin: 100px 360px;
}

.gallery_block {
	display: inline-block;
	margin-right: 30px;
	margin-left: -4px;
	position: relative;
	cursor: pointer;
}

.about_gallery_block {
	height: 250px;
	.gallery_block;
}

.team_block {
	.gallery_block;
}

.gradient_block {
	height: 100%;
	width: 100%;
	background: @gradient;
	display: none;
	position: absolute;
	bottom: 0;
}

.about_gradient {
	.gradient_block;
	img {
		margin: 100px 174px 0;
	}
	p {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 18px;
		color: @light_color;
		text-align: center;
		margin-top: 5px;
		font-weight: 700;
	}
}

.team_gradient {
	.gradient_block;
}

.team_socials {
	width: 225px;
	margin: 205px auto;
}

.soc_block {
	width: 55px;
	height: 55px;
	text-align: center;
	float: left;
	background-color: @yellow_color;
	font-size: 27px;
    line-height: 55px;
    outline: 1px solid #f9bd87;
}

.soc_block a {
	color: @red_color;
}

.soc_block:hover {
	background-color: @red_color;
	outline: none;
}

.soc_block:hover a {
	color: @light_color;
}

.about_gallery_block:last-child,
.team_block:last-child {
	margin-right: 0;
}

.about_gallery_block:hover .about_gradient,
.team_gallery_block:hover .team_gradient {
	display: block;
}

.gallery_hover {
	-moz-transform: translateX(-10px) translateY(-10px);
	-webkit-transform: translateX(-10px) translateY(-10px);
	-o-transform: translateX(-10px) translateY(-10px);
	-ms-transform: translateX(-10px) translateY(-10px);
	transform: translateX(-10px) translateY(-10px);
	-webkit-box-shadow: 10px 10px 0 0 @cyan_color;
	box-shadow: 10px 10px 0 0 @cyan_color;
	transition: 0.3s;
}

.about_gallery_block:hover,
.team_gallery_block:hover {
	.gallery_hover;
}

.team_name {
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	color: @dark_color;
	font-weight: 700;
	line-height: 14px;
	margin-top: 30px;
}

.team_spec {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: 15px;
	line-height: 15px;
	margin-top: 10px;
	text-align: center;
	color: #a6a6a6;

}

h4 {
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	font-weight: 500;
	margin-top: 100px;
	margin-bottom: 25px;
}

h3 {
	font-size: 30px;
	line-height: 30px;
	margin-top: 25px;
	margin-bottom: 40px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
}

.dark_title {
	color: @dark_color;
}

.red_line {
	width: 60px;
	height: 3px;
	background-color: @red_color;
	margin: 0 auto;
}

.regular_text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-align: center;
	color: #999;
	line-height: 24px;
}

.about .regular_text,
.team .regular_text {
	margin: 45px 480px;
}